{% extends 'pokemon/pokemon_base.html' %}

{% block pokemon %}

<table>
    <tr>
        <td>
        <a href="/player">
            트레이너에 대한 정보를 보고싶으시면 이 항목을 클릭해주세요</a>
        </td>
    </tr>
    <tr>
        <td>
        <a href="/pokemon">
            포켓몬에 대한 정보를 보고싶으시면 이 항목을 클릭해 주세요.</a>
        </td>
    </tr>
    <tr>
        <td>
        <a href="/place">
        장소에 대한 정보를 보고싶으시면 이 항목을 클릭해 주세요.</a>
        </td>
    </tr>
    <tr>
        <td>
        <a href="/capture">
        포획에 대한 정보를 보고싶으시면 이 항목을 클릭해 주세요.</a>
        </td>
    </tr>

</table>




{% endblock %}