{% extends 'blog/base.html' %}

{% block main %}

<style>
body{

    background-image:url('http://kmug.co.kr/board/data/illust/1288706667/smoon_BG005.gif');
    background-size:cover;
}
</style>

</head>
<body>
<style>
  .centeredauto { display: table; margin-left: auto; margin-right: auto; }
</style>

<div class="centeredauto">
  <div class="item">

<p>
<h1 align="center">권진환의 홈페이지에 오신것을 환영합니다!</h1>
    <h2 align="center"> 진환은 누구인가</h2>
<image src="https://scontent.xx.fbcdn.net/v/t1.0-9/12234902_927312040676643_2302218104281763969_n.jpg?oh=3e1349e0f466fe46a82a82a96a5c90fe&oe=57EE22B4" style="max-width:70 %; height: auto; margin-left:50% margin-right:50%; " alt="진환사진" title="진환사진" ><br><br>
<a href="https://search.naver.com/search.naver?where=nexearch&query=%EA%B6%8C%EC%A7%84%ED%99%98&sm=top_hty&fbm=1&ie=utf8" target="_blank" title="권진환 네이버검색결과">권진환 네이버 검색결과</a>
</p>

<ol>
    <p><li><h3>자기소개</h3></li>
    이름은 권진환, 성별 남자 ,1991년생. 컴퓨터 만지는걸 좋아하는 이상한 취미. <br>
    소프트웨어에 입문해보고자 피로그래밍 지원.<br>
    사는곳은 서울 홍대. 그런데 문제는 이사와서 놀 사람이 없음.<br>
    2015년 2학기는 독일로 교환학생을 다녀왔음.<br>
    사실 베를린공대썼는데 학점때문에 밀려서 아헨공대감<br>
    좋아하는 가수는 없음. 근데 여자친구 시간을 달려서 노래는 좀 좋은듯.</p>


    <p><li><h3>취미</h3></li>
     현재까지 알려진 취미는 다음과 같음
        <ul>
            <li>사진찍기</li>
            <li>요리하기</li>
            <li>마술하기</li>
            <li>잠자기, 밥먹기, X싸기</li>
            <li>핫딜 카톡방 운영중</li>
        </ul><br>
       아래는 유럽여행가서 찍은 사진. 페이스북에 올려놓은게 이것밖에..<br><br>
    <image src="/static/about/pics/pic1.jpg" height="200">,<image src="/static/about/pics/pic2.jpg" height="200"><br><br>
    아까 위에서 여자친구 시간을 달려서 좋아한다고 했는데..<br>
    동영상도..ㅎㅎㅎ.ㅎ.ㅎ.ㅎ.ㅎ.ㅎ.ㅎ<br>
    이런건 크게봐야 제맛.<br><br>
 <video width="600" controls="autoplay">

        <source src="/static/about/videos/girlfriends.mp4">
    </video><br><br>


    <li>특징</li>
        있는데 집에가느라 못씀..

</ol>

 </div>
</div>

{% endblock %}

